::selection {
    background-color: rgba(255, 255, 255, 0);
}

body {
    font-family: verdana;
    margin: 0;
    padding: 0;
    /* pour emp^echer la surbriallance de la sÃ©lection */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.suj1 {
    background: #3f7526;
    background: linear-gradient(180deg, #3f7526 0%, #8f4831 100%);
    background: -webkit-linear-gradient(180deg, #3f7526 0%, #8f4831 100%);
    background: -moz-linear-gradient(180deg, #3f7526 0%, #8f4831 100%);
}

body.suj2 {
    background: #27518f;
    background: linear-gradient(181deg, #27518f 0%, #aad9fa 100%);
    background: -webkit-linear-gradient(181deg, #27518f 0%, #aad9fa 100%);
    background: -moz-linear-gradient(181deg, #27518f 0%, #aad9fa 100%);
}

h1 {
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    border-bottom: #FFFFCC 2px solid;
    box-shadow: 1px 7px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 7px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 7px 8px 0px rgba(0, 0, 0, 0.75);
}

body.suj1 h1 {
    background-color: #264517;
    color: #FFFFCC;
}

body.suj2 h1 {
    background-color: rgb(250, 222, 104);
    color: #24488d;
}

section {
    max-height: 0px;
    padding: 0;
    border: none;
    overflow: hidden;
    border-radius: 20px;
    width: 900px;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 6px 7px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 7px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 8px 0px rgba(0, 0, 0, 0.75);
    transition-property: max-height;
    transition-duration: 0s;
}

body.suj1 section {
    background-color: #FFFFCC;
}

body.suj2 section {
    background-color: #daf0f7;
}

a:target+section {
    max-height: 1500px;
    padding: 10px;
    border: 1px solid;
    transition-duration: 1s;
}

section h2 {
    text-align: center;
}

nav {
    text-align: center;
}

nav a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 7px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 7px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 8px 0px rgba(0, 0, 0, 0.75);
    margin: 10px;
}

body.suj1 nav a {
    color: #3f7526;
    background-color: #b0cba3;
    border: 2px solid #264517;
}

body.suj2 nav a {
    color: #263875;
    background-color: #a3bdcb;
    border: 2px solid #264517;
}

body.suj1 nav a:hover,
body.suj1 nav a.actif {
    background-color: #fdb004;
    border: 1px solid red;
    box-shadow: 6px 7px 8px 0px rgba(150, 150, 0, 0.75);
    -webkit-box-shadow: 6px 7px 8px 0px rgba(150, 150, 0, 0.75);
    -moz-box-shadow: 6px 7px 8px 0px rgba(150, 150, 0, 0.75);
    border: 2px solid #264517;
    color: #315d1b;
}

body.suj2 nav a:hover,
body.suj2 nav a.actif {
    background-color: rgb(250, 222, 104);
    border: 1px solid red;
    box-shadow: 6px 7px 8px 0px rgba(200, 100, 100, 0.75);
    -webkit-box-shadow: 6px 7px 8px 0px rgba(200, 100, 100, 0.75);
    -moz-box-shadow: 6px 7px 8px 0px rgba(200, 100, 100, 0.75);
    border: 2px solid #264517;
    color: #f80000;
}

#terrain {
    width: 400px;
    height: 410px;
    background-image: url(Images/herbe.jpg);
    border: 5px solid brown;
}

.terrain table {
    margin: auto;
}

.terrain td {
    width: 20px;
    height: 20px;
    text-align: center;
}

#ball {
    position: relative;
    transition-property: top left;
    transition-duration: 0.5s;
}

div#melange, div#palette {
    height: 100px;
    background-color: black;
}

div.couleurs {
    font-size: 2em;
}

div.couleurs p {
    display: inline-block;
    border: 1px solid;
    width: 120px;
    text-align: center;
    cursor: pointer;
}

div.couleurs p.button {
    width: 40px;
    border-radius: 50%;
    background-color: darkslategray;
    color: white;
}

div.couleurs label {
    display: inline-block;
    width: 120px;
    text-align: right;
}

div.couleurs input {
    font-size: 40px;
}

#red,#rouge {
    background-color: red;
}

#green, #vert {
    background-color: green;
}

#blue, #bleu {
    background-color: blue;
}


/*************************/

.clavier {
    margin-top: 20px;
}

.clavier input {
    font-size: 24px;
    width: 3em;
    color: white;
    background-color: #555555;
    font-family: verdana;
}

#entree, #newval {
    padding: 5px;
    font-size: 24px;
    font-family: verdana;
    border: 1px solid;
}

#historique, #history {
    margin-top: 20px;
    height: 20em;
    overflow: auto;
    width: 20em;
    background-color: white;
    border: 2px inset;
    padding: 5px;
}

#resultat, #result {
    padding: 5px;
    width: 11.5em;
    background-color: white;
    border: 1px solid;
    font-size: 24px;
    font-family: verdana;
}